<div class="wrapper wrapper__match-content">
    <ul class="list list__unstyled">
        <li class="list_item">
            <a href="terms.html" class="list_link">
                Terms of service
            </a>
        </li>
    </ul>
    <div class="official-website">
        <img src="http://consumerfinance.gov/static/img/us-flag_22x13.png" class="flag">
        An official website of the United States Government
    </div>
</div>
