<div class="eyebrow u-clearfix">
    <div class="wrapper wrapper__match-content">
        <div class="tagline">
            <img src="http://consumerfinance.gov/static/img/us-flag_22x13.png" class="flag">
            An official website of the United States Government
        </div>
        <div class="logged-in">
            <span class="cf-icon cf-icon-user"></span>
            Logged in as <strong>Test Subject</strong> (<a href="index.html">log out</a>)
        </div>
    </div>
</div>
<div class="wrapper wrapper__match-content">
    <nav class="global-nav">
        <ul class="list list__unstyled list__horizontal">
            <li class="list_item">
                <a href="dashboard.html"
                class="global-nav_link">
                    Dashboard
                </a>
            </li>
            <li class="list_item">
                <a href="complaints-open.html"
                class="global-nav_link">
                    Complaints
                </a>
            </li>
            <li class="list_item">
                <a href="#not-yet"
                class="global-nav_link">
                    Exports
                </a>
            </li>
            <li class="list_item">
                <a href="support.html"
                class="global-nav_link">
                    Support
                </a>
            </li>
            <li class="list_item">
                <a href="news.html"
                class="global-nav_link">
                    News
                </a>
            </li>
        </ul>
    </nav>
    <div class="global-header_logo">
        <img src="http://www.consumerfinance.gov/static/img/logo_sm-exec.svg" alt="Consumer Financial Protection Bureau" width="237" height="50">
    </div>
</div>
