<div class="o-modal" style="opacity: 1;">
    <div class="o-modal_bg">&nbsp;</div>
    <div class="o-modal_offset">
        <div class="o-modal_content">
            <div class="o-modal_inner">
                <p class="o-modal_close">
                    <button class="btn__link">
                        Close
                        <span class="cf-icon cf-icon-delete-round"></span>
                    </button>
                </p>
                <h1 class="h3">{{header}}</h1>
                {{{body}}}
            </div>
        </div>
    </div>
</div>
